# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.venv/
venv/

# Environment
uv.lock
.envrc
requirements-local.txt

# Run outputs
results/

# Editor / OS
.idea/
.vscode/
.DS_Store

# docs
docs/generated/
docs/_build/
